.SideNav {
    position:sticky;
    height: 100%;
    width: 500px;
   
    top: 8rem;
    margin-left: 37rem;
    height: calc(100vh - 70px); /* change the value to adjust the height */
  overflow-y: auto; 
    background-color: #f5eeeec6;
    overflow-x:hidden;
    padding-top: 20px;
  }
  .SideNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
  }
  .SideNav ul li a {
    display: block;
    padding: 10px 16px;
    font-size: 25px;
    text-align: center;
    font-weight: 1000;
  }
  .SideNav ul li:hover {
    background-color: #e6e6e6;
    padding-left: 20px;
  }
  .SideNav ul li a:hover {
    background-color: #eee;
  }
  .SideNav h1{
    font-size: 40px;
  }
  .SideNav li {
    margin: 10px 0;
    align-items: center;
  }
  
  .SideNav a {
    display: flexbox;
   align-items: center;
    color:black;
    font-size:large;
    font-weight: 1000;
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
  
  .SideNav a:hover {
    background-color: #ddd;
    color: #000;
    text-align: center;
  }
  
  .SideNav .active {
    background-color: #FFA500;
    color: #fff;
  }
  
  .main {
    margin-left: 200px;
    padding: 0 20px;
  }
  
  @media screen and (max-height: 450px) {
    .SideNav {
      padding-top: 15px;
    }
    .SideNav a {
      font-size: 16px;
    }
  }
  .main-content {
    margin-top: 80px; /* adjust as needed to create space for the sidebar */
  }
  .admin {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .admin h1 {
    margin: 0;
    font-size: 1.5em;
    margin-left: 10px;
  }
  p {
    color: #000;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
    font-family: Arial, sans-serif;
  }
  
  